<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件使用</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="demo">
    <component-test1
            v-bind:title="title"
            v-bind:likes="likes"
            v-bind:is-published="isPublished"
            v-bind:comment-ids="commentIds"
            v-bind:author="author"
    ></component-test1>

    <!--禁用特性继承-->
    <base-input
            v-model="username"
            required
            placeholder="Enter your username"
    ></base-input><span>{{username}}</span>
</div>
</body>
</html>
<script>
    var ComponentTest1 = {
        props:{
            title: String,
            likes: Number,
            isPublished: Boolean,
            commentIds: Array,
            author: Object,
            callback: Function,
            contactsPromise: Promise
        },
        template:`
        <div>
        <p>vue test</p>
        <h3>title:{{title}}</h3>
        <p>likes:{{likes}}</p>
        <p>isPublished:{{isPublished}}</p>
        <p>commentIds:</p>
        <ol>
            <li v-for="commentId in commentIds"> {{commentId}}</li>
        </ol>
        <p>author:</p>
        <p>name: {{ author.name }},company: {{author.company}}</p>
    </div>
        `
    };

    Vue.component('base-input', {
        inheritAttrs: false,
        props: ['label', 'value'],
        template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >
  `
    })

    var vm =new Vue({
        el:"#demo",
        data:{
            title: "My journey with Vue",
            likes:42,
            username:'',
            isPublished:true,
            commentIds:[234, 266, 273],
            author: {
                    name: 'Veronica',
                    company: 'Veridian Dynamics'
                }
        },
        components:{
            'component-test1':ComponentTest1,
        }
    })

    // prop 类型验证
    Vue.component('my-component', {
        props: {
            // 基础的类型检查 (`null` 和 `undefined` 会通过任何类型验证)
            propA: Number,
            // 多个可能的类型
            propB: [String, Number],
            // 必填的字符串
            propC: {
                type: String,
                required: true
            },
            // 带有默认值的数字
            propD: {
                type: Number,
                default: 100
            },
            // 带有默认值的对象
            propE: {
                type: Object,
                // 对象或数组默认值必须从一个工厂函数获取
                default: function () {
                    return { message: 'hello' }
                }
            },
            // 自定义验证函数
            propF: {
                validator: function (value) {
                    // 这个值必须匹配下列字符串中的一个
                    return ['success', 'warning', 'danger'].indexOf(value) !== -1
                }
            }
        }
    });

</script>
